/* Navbar */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #fdfdfa;
  font-family: "Be Vietnam Pro";
  --black: #141817;
  --white: #ffffff;
  --green: #16503e;
  color: var(--black);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

/* NAVBAR */

.logo-header {
  width: 97px;
  height: 22.99px;
}

.navbar {
  padding: 0.5rem 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--black);
}

.navbar__right {
  display: flex;
  flex-direction: row;
}

.navbar__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2rem;
}

.link {
  color: black;
  text-decoration: none;
}

.link-bubble {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 56px;
  transition: 0.3s;
  color: black;
}

.link-bubble:hover {
  background: var(--green);
  color: white;
  cursor: pointer;
}

.link:visited {
  text-decoration: none;
  color: inherit;
}

/* RESULTS  */
.results {
  margin: 106px 120px 0;
}

.results__heading {
  font-family: "Monarcha";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
  color: #141817;
  margin-bottom: 1rem;
}

.results__is-sustainable {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 110px;
  line-height: 120px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #141817;
  margin-bottom: 2rem;
}

.results__overall-rating {
  font-weight: bold;
}

.results__description {
  margin-bottom: 128px;
}

.ratings-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}

/* RESULTS / FEATURES  */
.features {
  background-color: #dbcabd;
  padding: 4rem 7.5rem;
}

/* RESULTS / FEATURES / MATERIALS */
.materials-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.materials__img {
  width: 510px;
  height: 369px;
}

.materials__header {
  font-family: "Monarcha";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
  color: #141817;
  margin-bottom: 11px;
}

.materials__description {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;

  color: #000000;
}

/* RESULTS / FEATURES / TECHNICAL FEATURES */
.technical-features-container {
  display: flex;
  flex-direction: row;
  gap: 44px;
  margin: 55px 8.5rem 0;
}

.technical-features__header {
  font-family: "Monarcha";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
  color: #141817;
  margin-top: 4rem;
  margin-bottom: 11px;
}

.technical-features__card {
  padding: 16px;
  width: 200px;
  /* height: 192px; */
  border: 1px solid #141817;
  border-radius: 33px;
}

.technical-features__title {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
  text-transform: uppercase;
  color: #000000;
}

.technical-features__description {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;

  color: #000000;
}

.card {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: lightgrey;
}

/* Recommended */

.recommended {
  display: flex;
  padding-left: 153px;
  gap: 1rem;
  background: #f9f7f1;
  height: 440px;
}

.recommended-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.recommended-container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  background: #f9f7f1;
}

.recommended-description {
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  width: 100px;
}

.recommended__header {
  font-family: "Monarcha";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
  color: #141817;
}

.recommended__card {
  padding: 2rem;
}

/* RESULTS: TIPS */
.tips {
  background: #d6e0db;
  padding: 185px 120px 235px;
}

.tips__subheader {
  font-family: "Monarcha";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
  color: #141817;
  margin-bottom: 1rem;
}

.tips__header {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 110px;
  line-height: 120px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #141817;
}

.tips-container {
  margin-top: 116px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  /* hard coded for now... */
  padding-left: 250px;
}

.tips__card {
  display: flex;
  gap: 52px;
  flex-direction: row;
  align-items: center;
  width: 823px;
  height: 147px;
}
.tips__number {
  font-family: "Monarcha";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
  color: #141817;
}

.tips__card-right {
  display: flex;
  flex-direction: column;
  justify-content: right;
}
.line {
  width: 737.899px;
  border-bottom: 1px solid black;
}
.tips__question {
  text-align: right;
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;

  text-align: right;
  text-transform: uppercase;

  color: #000000;
  padding-bottom: 30px;
  /* border-bottom: 1px solid black; */
}

.tips__description {
  margin-left: 89px;
  margin-top: 30px;
}

/* /* FOOTER */

.footer {
  background: #16503e;
  color: #fdfdfa;
}

.install {
  padding: 134px 120px 102px;
  border-bottom: 1px solid white;
}

.install__subheader {
  font-family: "Monarcha";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  color: #fdfdfa;
  margin-bottom: 25px;
}

.install__header {
  text-transform: uppercase;
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 110px;
  line-height: 120px;
  letter-spacing: -0.05em;
  margin-bottom: 25px;
}

.install__description {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 50px;
  width: 55%;
}

.install__img {
  width: 550px;
  height: auto;
}

.install__btn {
  width: 510px;
  height: 52px;
  background: var(--green);
  border: 1px solid #fdfdfa;
  border-radius: 42px;
  color: var(--white);
  text-transform: uppercase;

  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  text-transform: uppercase;
  transition: 0.3s;
}

.install__btn:hover {
  color: var(--green);
  background: var(--white);
  cursor: pointer;
}

.install_arrow {
  height: 20px;
  width: 20px;
}

/*  */

.footer-nav {
  padding: 40px 120px;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-nav__right {
  display: flex;
  flex-direction: row;
}

.footer-nav__terms {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  width: 97px;
  height: 22.99px;
}

.footer-links {
  display: flex;
  justify-content: right;
  gap: 2rem;
  align-items: center;
}
.footer-links-left {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
  gap: 2rem;
}

.footer-link-bubble {
  border: 1px solid white;
  padding: 1rem;
  border-radius: 56px;
  transition: 0.3s;
}

.footer-link-bubble:hover {
  color: var(--green);
  cursor: pointer;
  background-color: var(--white);
}

/*  */

.find-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ul-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-left: 0;
}

ul {
  list-style: none;
}
ul > li > a {
  text-decoration: none;
}

ul > li a:visited {
  text-decoration: none;
}

/* Home Page */

.home {
  display: flex;
  height: 754px;
}

.home-left {
  display: flex;
  flex-direction: column;
  background: #16503e;
  color: #fdfdfa;
  width: 50%;
  justify-content: center;
  padding: 88px;
}
.home-left__img {
  width: 390px;
  height: 88px;
  margin-top: 0.5rem;
}

.home-left__title {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 84px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #fdfdfa;
  margin-bottom: 22px;
}

.home-left__description {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #fdfdfa;
}

.home-right {
  width: 50%;
}
.home-right__title {
  color: var(--green);
  font-family: "Monarcha";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
  margin-bottom: 0.5rem;
}

.home-right__form {
  padding: 87px;
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.home-right__label {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
}

.home-right__input {
  padding: 8px;
  border: 1px solid #141817;
  font-family: "Be Vietnam Pro";
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -0.022em;
  border-radius: 8px;
}

.label-input-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.home-right__option {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
}

.home__btn {
  width: 245px;
  height: 52px;
  border: 1px solid #141817;
  border-radius: 42px;
  background: #fdfdfa;
  transition: 0.3s;
}

.home__btn:hover {
  color: var(--white);
  cursor: pointer;
  background-color: var(--green);
}

/* About Page */

.find-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ul-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-left: 0;
}

ul {
  list-style: none;
}
ul > li > a {
  text-decoration: none;
}

ul > li a:visited {
  text-decoration: none;
}

/*  */

.inline-text-img-wrapper {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.about-text-img {
  width: 456px;
  height: 92px;
}

.inline-text-small-text {
  display: inline-block;
  /* position: relative; */
  /* vertical-align: top; */
  white-space: normal;
  max-width: 456px;
  /* top: 14px; */
  font-size: 15px;
  line-height: 1.1em;
}

.inline-text-info {
  display: block;
  flex: 1 1 auto;
  margin: 50px 120px;
}

.cream-block {
  background-color: #f9f7f1;
}

.pink-block {
  background-color: #dbcabd;
}

.blue-block {
  background-color: #d6e0db;
}

.why-labels {
  display: flex;
  justify-content: space-between;
  margin: 0px 120px;
  padding: 120px 0px;
  align-items: center;
}

.left {
  width: 30%;
}

.right {
  width: 65%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.flex-column-2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 100px 120px;
  gap: 50px;
}

.flex-column-3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

h3 {
  font-family: "Monarcha";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
  color: #141817;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: #141817;
}

.half-flex {
  display: flex;
  margin: 0px 120px;
  align-items: center;
  margin: 0px 120px;
}

.half-flex-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 30px;
  padding: 0px 30px 0px 0px;
  /* padding: 0px 20px; */
}

.half-flex-right {
  width: 50%;
}

.app-features {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 44px;
}

.feature-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #141817;
  border-radius: 33px;
  width: 286px;
  height: 192px;
  padding: 16px;
  gap: 8px;
}
.app-features-header {
  width: 100%;
  justify-content: left;
  display: block;
}

.bullet li {
  list-style-image: url(../images/Star_1.png);
  padding-inline-start: 1ch;
}

h4 {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
  /* identical to box height */

  text-transform: uppercase;
}

/* Home Page */

h5 {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
}

h6 {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.main-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 39px;
  gap: 8px;
  width: 510px;
  height: 52px;
  border: 1px solid #141817;
  border-radius: 42px;
  background-color: #fdfdfa;
}

.search-bar-flex {
  display: flex;
  width: 100%;
}

.submit-home {
  width: 30%;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  height: 52px;
  justify-content: center;
  border: 1px solid #141817;
  border-left: 0px;
  background-color: #d6e0db;
}

.input-search {
  width: 70%;
  max-height: 52px;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  background-color: #fdfdfa;
  border: 1px solid #141817;
  padding: 10px 16px;
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6d7472;
}

.div-50 {
  height: 50px;
}
